sudo: false
language: python
python:
  - "3.6"
  - "3.8"
install:
- pip install -r requirements.txt
script:
- tox
deploy:
  provider: pypi
  distributions: sdist
  user: blopker
  on:
    tags: true
  password:
    secure: W+nmIfYmqTqMiufYR56FLrCi9IO0f6n/u4aV1ouIW3MGE9Mc9oTHQ30BjRaNIwR2qA8OtVBNl17Vcbp8Yof0SgjLaBbMark85BNjMbiBk0VFEdG4pNenZ7K4lEktDyqPgK0nX0qWZik+ZQrDYuQWi1/MGyn9ZH+FwFxbryYckWI=
